#page-container {
  position: relative;
  min-height: 100vh;
}
#page-wrapper {
  font-family: arial, sans serif;
  text-align: center;
  padding-bottom: 2.5rem;
}
#page-wrapper link {
  text-decoration: none;
  color: #5f6368;
}
a:link {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}
#nav-bar {
  font-size: 13px;
  font-color: #5f6368;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  margin: 8px;
  padding: 8px;
  display: inline;
}

#apps-icon {
  max-width: 5%;
}
footer {
  text-align: center;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
