#page-container {
  position: relative;
  min-height: 100vh;
  font-family: arial, sans serif;
  text-align: center;
  padding-bottom: auto;
}
.box {
  padding: 5px;
  font-size: 13px;
}
.rb {
  padding-right: 10px;
}
.nav-left {
  float: left;
  height: 33px;
  line-height: 33px;
}
.about {
  padding-right: 10px;
}
.nav-right {
  float: right;
}
.nav-right .nav-items {
  display: flex;
  align-items: center;
}
a:link {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

.sign-in {
  background-color: #4285f4;
  color: #fff;
  font-weight: bold;
  border: 1px solid #4285f4;
  padding: 8px 12px;
  margin: 0px;
  border-radius: 2px;
}

#header-img {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#apps-icon {
  max-width: 25px;
}
.search {
  width: 60%;
  padding: 10px 20px;
  margin: 20px;
  border: 0.1px solid #dcdcdc;
  border-radius: 20px;
  color: #5f6368;
}
.search: hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.search:focus-within {
  box-shadow: 1px 2px 8px 1px #dcdcdc;
  outline: none;
}
#form-group {
  color: #5f6368;
}
.voice {
  height: 20px;
  position: relative;
  top: 6px;
  right: 52px;
}
footer {
  width: 100%;
}
#footer-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: arial, sans serif;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  color: #5f6368;
  padding: 15px;
  float: left;
  box-sizing: border-box;
}

.footer-left,
.footer-right {
  display: flex;
}
.footer-left li,
.footer-right li {
  margin: 0px 5px;
}

ul {
  list-style: none;
}
